<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="section flex align-items--center justify-content--between">
        <div class="section-title">Hóa đơn</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="placeholder">
        <div class="placeholder-header">
          <i class="fe fe-search"></i>
          Chưa có <strong>hóa đơn</strong> nào trên hệ thống.
        </div>

        <a href="<%= new_ticket_path %>"class="btn primary">Tạo hóa đơn</a>
      </div>
    </div>
  </div>
</div>
