.devise {
  width: 100%;
  height: 100vh;

  .devise-form {
    height: 100%;
  }

  .block {
    width: 380px;

    .logo img {
      width: 60px;
      height: auto;
      border-radius: 4px;
      display: block;
      margin: 0 auto 3rem;
    }
  }
}

@media only screen and (max-width: 500px) {
  .devise {
    padding: 2rem;
  }
}
