.export {
  border-top: 10px solid #F7915D;
  margin: 0 auto;
}

.export-logo {
  text-align: center;

  img {
    max-width: 200px;
    height: auto;
  }
}

.export-header {
  color: #a3a9b2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1.25rem;
  
  h3 {
    font-size: 2rem;
    margin-top: .5rem;
  }

  p {
    font-size: 1.6rem;
  }

  span {
    color: $body-color;
  }
}

.export-meta {
  display: flex;

  .export-meta__block {
    &:not(:last-child) {
      margin-right: 2rem;
    }

    span {
      display: inline-block;
      border: 1px solid #c4cdd5;
      border-radius: 4px;
      padding: .5rem 1rem;
      color: #D31F3C;
      text-align: center;
      margin-left: .5rem;
    }
  }
}

.export-row {
  padding: 3rem 0;
  display: flex;

  .export-airline,
  .export-tid {
    flex: 0 0 150px;
  }

  .export-airline {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;

    .export-air {
      border-right: 1px solid #ccc;
      padding-right: 2rem;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    h5 {
      margin: 1.5rem 0 .2rem 0;
    }

    p {
      margin: 0;
    }
  }

  .export-routes {
    width: 65%;

    .export-item {
      &:not(:last-child) {
        position: relative;
        margin-bottom: 4rem;

        &::before {
          position: absolute;
          width: 60%;
          height: 1px;
          bottom: -20px;
          left: 50%;
          border-bottom: 1px dashed #ccc;
          content: '';
          transform: translateX(-50%);
        }
      }

      .export-route__duration {
        margin-bottom: 1rem;
        text-align: center;
        font-weight: bold;
        color: #D31F3C;
      }
    }

    .export-transit__duration {
      color: #D31F3C;
      text-align: center;
      margin: 2.5rem 0;
    }

    .export-route {
      display: flex;
      justify-content: center;

      &.export-transit {
        align-items: center;
        position: relative;

        .export-route__time,
        .export-route__place {
          height: 150px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        .export-transit__ab,
        .export-transit__bc {
          position: absolute;
          z-index: 1;
          background: #FFF;
        }
      }

      &:first-child {
        align-items: flex-start;
      }

      &:not(.export-transit):last-child {
        align-items: flex-end;
      }

      .export-route__time {
        text-align: right;
        font-weight: 600;
        flex: 1 1 0;

        span {
          font-weight: bold;
          font-size: 1.6rem;
        }
      }

      .export-route__place {
        flex: 1 1 0;
        color: #a3a9b2;
        font-weight: 600;

        span {
          display: block;
          background-color: #f2f2f2;
          border-radius: 4px;
          color: $body-color;
          padding: .5rem;
        }
      }

      .export-divider {
        width: 1px;
        height: 60px;
        background: #ccc;
        margin: 0 3rem;
        position: relative;

        &::before {
          position: absolute;
          left: 50%;
          right: 50%;
          transform: translateX(-50%) translateY(-50%);
          width: 9px;
          height: 9px;
          border-radius: 50%;
          background: $body-color;
          content: '';
        }

        &.not-transit__end::before {
          bottom: -5px;
        }

        &.export-divider__transit {
          height: 120px;

          &::after {
            position: absolute;
            left: 50%;
            right: 50%;
            bottom: -5px;
            transform: translateX(-50%) translateY(-50%);
            width: 9px;
            height: 9px;
            border-radius: 50%;
            background: $body-color;
            content: '';
          }
        }
      }
    }
  }
}

.export-notes {
  border: 1px solid #c4cdd5;
  border-radius: 4px;
  padding: 3rem;
  margin: 0 0 2rem 0;

  .note-item {
    display: flex;

    i {
      font-size: 4rem;
      margin-right: 1.5rem;
    }

    p {
      margin: 0;
    }
  }
}

.extra-note {
  margin-top: 3rem;
}
