.site-header {
  width: 100%;
  height: 54px;
  background-color: $header-bg;
  color: #FFF;

  .site-header__logo {
    width: 200px;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;


    .site-header__title {
      img {
        width: 50%;
        margin-left: 15px;
      }
    }
  }

  .site-header__search {
    margin-left: 3rem;

    .input {
      width: 500px;
      height: 35px;
      border-radius: 4px;
      border: none;
      background: rgba(255,255,255,.1);
      box-shadow: 0 1px 2px 2px rgba(0,0,0,.1);
      color: #FFF;
      padding: 0 2rem;
      transition: 400ms all ease-in-out;
      
      &:focus {
        outline: none;
      }

      &:hover {
        background-color: #FFF;
        color: $body-color;
      }
    }
  }

  .site-header__right {
    margin-left: auto;

    .site-header__nav {
      margin-right: 3.5rem;

      a {
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      position: relative;
      display: inline-block;
      height: 54px;
      line-height: 54px;

        &::before {
          position: absolute;
          bottom: 0;
          width: 0;
          height: 2px;
          background-color: #F7915D;
          content: '';
          transition: all 200ms ease-in-out;
        }

        &.active::before {
          width: 100%;
        }

        &:not(:last-child) {
          margin-right: 1.5rem;
        }

        &:hover {
          color: #F7915D;
          text-decoration: none;
        }

        &:hover::before {
          width: 100%;
        }
      }
    }
  }

  .site-header__user {
    height: 54px;
    padding: 0 2rem;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
    transition: all 200ms ease-in-out;

    &:hover {
      background-color: rgba(255,255,255,.1);
    }

    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      margin-right: 1rem;
    }

    .user-email {
      height: 1.6rem;
    }

    a {
      color: #8F9092;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1rem;
    }
  }
}

.site-menu {
  display: none;
}

.site-header__canvas {
  display: none;
}

@media only screen and (max-width: 750px) {
  .site-header__logo {
    width: initial !important;
    padding-left: 15px;

    .site-header__title {
      img {
        width: 30% !important;
        margin-left: 0 !important;
      }
    }
  }

  .site-header__right {
    display: none;
  }

  .site-menu {
    display: block;
    margin-right: 2rem;

    span {
      width: 25px;
      height: 2px;
      background-color: #FFF;
      margin: 6px 0;
      display: block;
      cursor: pointer;
    }
  }

  .site-header__canvas {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 15px;
    background: $header-bg;
    border-radius: 4px;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: all 400ms ease-in-out;

    &.active {
      visibility: visible;
      opacity: 1;
    }

    .site-header__nav {
      display: flex;
      flex-direction: column;
      padding: 20px 20px 0 20px;

      a {
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 1.5rem;
      }
    }
  }
}
