.main {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.section {
  margin-bottom: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(76, 87, 102, .1);

  .section-title {
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
  }

  .section-sub {
    margin-top: 2rem;

    .section-item {
      margin-right: 3rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .section-title {
    font-size: 1.5rem !important;
  }
}

.placeholder {
  width: 100%;
  height: 240px;
  padding: 4rem 0;
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(69,79,91,0.05), 0 1px 3px 0 rgba(69,79,91,0.15);
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .placeholder-header {
    text-align: center;
    margin-bottom: 1.5rem;

    i {
      color: #C4CDD5;
      display: block;
      font-size: 6rem;
      margin-bottom: 1rem;
    }
  }
}

.home-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.home-shape {
  max-width: 100%;
  height: auto;
}

.block {
  background: #FFF;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin-bottom: 3.5rem;

  .block-flex {
    display: flex;
    background-color: #F7915D;
    border-radius: 4px 4px 0 0;
    color: #FFF;
    margin: 0;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;

    h4 {
      padding: 0;
    }
  }

  h4 {
    background-color: #F7915D;
    border-radius: 4px 4px 0 0;
    color: #FFF;
    margin: 0;
    padding: 1.5rem;
  }
}

.preview-block {
  h4 {
    background-color: $header-bg !important;
  }
}
