<%= form_with(model: user, local: true, class: 'form-box form-box--c') do |f| %>
  <% if user.errors.any? %>
    <div class="message alert" data-controller="alert">
      <div class="message-content">
        <h5><%= pluralize(user.errors.count, "error") %></h5>
        <ul class="list">
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>

      <a class="close" nohref data-action="click->alert#close"></a>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, placeholder: 'Ví dụ: abc@mail.com' %>
  </div>

  <div class="field">
    <%= f.label :user_role, "Phân quyền" %>
    <%= f.select :user_role, options_for_select([['Nhân viên', 'staff'], ['Quản trị viên', 'administrator']], :selected => user.user_role), {}, {} %>
  </div>

  <div class="field">
    <%= f.label :password, 'Mật khẩu' %>
    <%= f.password_field :password, placeholder: 'Tối thiểu 6 ký tự' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Nhập lại mật khẩu' %>
    <%= f.password_field :password_confirmation, placeholder: 'Tối thiểu 6 ký tự' %>
  </div>

  <div class="field">
    <%= f.check_box :deactivated %> Khóa người dùng
  </div>

  <div class="actions">
    <%= f.submit "Tạo", class: 'btn primary' %>
  </div>
<% end %>
