<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="section flex align-items--center justify-content--between">
        <div class="section-title">Thành viên</div>
        
        <% if current_user.user_role == 'administrator' %>
          <a href="<%= new_user_path %>" class="btn primary">
            <i class="fe fe-plus"></i>
            Thêm thành viên
          </a>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="c-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Phân quyền</th>
            <th>Trạng thái</th>
            <th>Ngày tạo</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td data-label="ID"><%= user.id %></td>
              <td data-label="Email"><%= user.email %></td>
              <td data-label="Phân quyền">
                <% if user.user_role == "staff" %>
                  Nhân viên
                <% else %>
                  Quản trị viên
                <% end %>
              </td>
              <td data-label="Trạng thái">
                <% if user.deactivated == true %>
                  Tạm khóa
                <% else %>
                  Hoạt động
                <% end %>
              </td>
              <td data-label="Ngày tạo"><%= user.created_at .strftime("%d/%m/%Y") %></td>
              <td>
                <% if current_user.user_role == 'administrator' %>
                  <div class="btn-group">
                    <%= link_to 'Cập nhật', edit_user_path(user), class: 'btn mini' %>
                    <%= link_to 'Khóa thành viên', user, method: :delete, data: { confirm: 'Bạn có chắc muốn khóa người dùng này?' }, class: 'btn mini warning' %>
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>