<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="section flex align-items--center justify-content--between">
        <div class="section-title">Thêm nhân viên</div>
        
        <a href="<%= users_path %>" class="btn primary">
          <i class="fe fe-arrow-left btn-icon"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= render 'form', user: @user %>
    </div>
  </div>
</div>