$body-bg: #f4f6f9;
$body-color: #1a1a1a;
$body-font: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$primary: #0099BD;

$header-bg: #080808;
