<div class="col-12 col-md-6">
  <% if ticket.new_record? %>
    <div class="ticket-form block">
      <h4>Thông tin vé</h4>

      <%= form_with(model: ticket, local: true, class: 'form-box') do |f| %>      
        <div class="field">
          <%= f.label :tid, "Mã đặt vé" %>
          <%= f.text_field :tid, placeholder: 'Ví dụ: 42314211', require: true %>
        </div>

        <div class="field">
          <%= f.label :ticket_type, "Loại vé" %>
          <%= f.select :ticket_type, options_for_select([['Một chiều', 'oneway'], ['Khứ hồi', 'roundtrip']], :selected => ticket.ticket_type), {}, {} %>
        </div>

        <div class="actions">
          <%= f.submit submit, class: 'btn primary' %>
        </div>
      <% end %>
    </div>

  <% else %>

    <% if ticket.ticket_type == "oneway" && @airlines.count == 0 || ticket.ticket_type == "roundtrip" && @airlines.count == 0 %>
      <%= render 'tickets/components/airline', airlines: @airlines %>
    <% end %>

    <% if ticket.ticket_type == "oneway" && @airlines.count > 0 && @routes.count == 0 || ticket.ticket_type == "roundtrip" && @routes.count == 0 %>
      <%= render 'tickets/components/route', routes: @routes %>
    <% end %>

    <% if ticket.ticket_type == "roundtrip" && @airlines.count == 1 && @routes.count == 1 || ticket.ticket_type == "roundtrip" && @airlines.count == 1 && @routes.count > 1 %>
      <%= render 'tickets/components/airline', airlines: @airlines %>
    <% end %>

    <% if ticket.ticket_type == "roundtrip" && @airlines.count == 1 && @routes.count == 1 || ticket.ticket_type == "roundtrip" && @airlines.count > 1 && @routes.count == 1 %>
      <%= render 'tickets/components/route', routes: @routes %>
    <% end %>

    <% if ticket.ticket_type == "oneway" && @airlines.count > 0 && @routes.count > 0 || ticket.ticket_type == "roundtrip" && @airlines.count > 1 && @routes.count > 1 %>
      <%= render 'tickets/components/passenger', passengers: @passengers %>
    <% end %>

    <div class="note-form block">
      <h4>Ghi chú</h4>

      <%= form_with(model: ticket, local: true, class: 'form-box') do |f| %>
        <div class="field">
          <%= f.label :note, "Nội dung" %>
          <%= f.rich_text_area :note %>
        </div>

        <div class="actions">
          <%= f.submit "Cập nhật", class: 'btn primary' %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
