<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="section flex align-items--center justify-content--between">
        <div class="section-title">Tạo hóa đơn</div>
        
        <a href="<%= root_path %>" class="btn">
          <i class="fe fe-arrow-left btn-icon"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <%= render 'form', ticket: @ticket, submit: 'Tiếp theo' %>

    <div class="col-md-6">
      <h4>Xem trước bản in</h4>
      <%= render 'export/preview', preview: @ticket %>
    </div>
  </div>
</div>
