<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="section flex align-items--center justify-content--between">
        <div class="section-title">Hóa đơn - <%= @ticket.tid %></div>
        
        <a href="//pdf.aatrip.net/api/render?url=<%= ticket_export_url(@ticket) %>" target="_blank" class="btn btn-export">
          Xuất file PDF
        </a>
      </div>
    </div>
  </div>

  <div class="row"> 
    <%= render 'form', ticket: @ticket, submit: 'Cập nhật' %>

    <div class="col-md-6">
      <h4>Xem trước bản in</h4>

      <div class="form-edit">
        <% if @ticket.airlines.present? %>
          <% @ticket.airlines.each do |airline| %>
            <% if airline.id.present? %>
              <div class="form-edit__item">
                <p><span>Hãng bay:</span> <%= airline.name %></p>
                <a href="/tickets/<%= @ticket.id %>/airlines/<%= airline.id %>/edit">Sửa</a>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <% if @ticket.routes.present? %>
          <% @ticket.routes.each do |route| %>
            <% if route.id.present? %>
              <div class="form-edit__item">
                <p><span>Hành trình:</span> <%= route.depart_place %> - <%= route.arrival_place %></p>
                <a href="/tickets/<%= @ticket.id %>/routes/<%= route.id %>/edit">Sửa</a>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <% if @ticket.passengers.present? %>
          <% @ticket.passengers.each do |passenger| %>
            <% if passenger.id.present? %>
              <div class="form-edit__item">
                <p><span>Hành khách:</span> <%= passenger.full_name %></p>
                <a href="/tickets/<%= @ticket.id %>/passengers/<%= passenger.id %>/edit">Sửa</a>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <%= render 'export/preview', preview: @ticket %>
    </div>
  </div>
</div>
