<%= form_for passenger, url: manage_passenger_path(passenger), html: { class: 'form-box form-box--c' } do |f| %>
  <% if passenger.errors.any? %>
    <div class="message alert" data-controller="alert">
      <div class="message-content">
        <h5><%= pluralize(passenger.errors.count, "error") %></h5>
        <ul class="list">
          <% passenger.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>

      <a class="close" nohref data-action="click->alert#close"></a>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= f.label :full_name, "Họ tên" %>
    <%= f.text_field :full_name, required: true %>
  </div>

  <div class="field">
    <%= f.label :dob, "Ngày sinh" %>
    <%= f.text_field :dob,
      data: {
        controller: "date",
        date_alt_format: "l, j M Y",
        date_alt_input: true
      }
    %>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="field">
        <%= f.label :nid, "Chứng minh nhân dân" %>
        <%= f.text_field :nid %>
      </div>
    </div>

    <div class="col-6">
      <div class="field">
        <%= f.label :pid, "Số hộ chiếu" %>
        <%= f.text_field :pid %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :phone_number, "Số điện thoại" %>
    <%= f.text_field :phone_number, required: true %>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="field">
        <%= f.label :seat_type, "Loại ghế" %>
        <%= f.select :seat_type, options_for_select(Passenger.seat_types.keys.map { |w| [w.upcase, w] }), {}, {} %>
      </div>
    </div>

    <div class="col-4">
      <div class="field">
        <%= f.label :ticket_class, "Hạng vé" %>
        <%= f.select :ticket_class, options_for_select(Passenger.ticket_classes.keys.map { |w| [w.upcase, w] }), {}, {} %>
      </div>
    </div>

    <div class="col-4">
      <div class="field">
        <%= f.label :extra, "Hành lý mang thêm (Kg)" %>
        <%= f.number_field :extra, max: 100 %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Cập nhật", class: 'btn primary' %>
  </div>
<% end %>
