<%= form_for passenger, url: manage_passengers_path, html: { class: 'form-box form-box--c' } do |f| %>
  <% if passenger.errors.any? %>
    <div class="message alert" data-controller="alert">
      <div class="message-content">
        <h5><%= pluralize(passenger.errors.count, "error") %></h5>
        <ul class="list">
          <% passenger.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>

      <a class="close" nohref data-action="click->alert#close"></a>
    </div>
  <% end %>

  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :ticket_id, value: Ticket.first.id %>

  <div class="field">
    <%= f.label :full_name, "Họ tên" %>
    <%= f.text_field :full_name, required: true %>
  </div>

  <div class="field">
    <%= f.label :dob, "Ngày sinh" %>
    <%= f.text_field :dob,
      data: {
        controller: "date",
        date_alt_format: "l, j M Y",
        date_alt_input: true
      }
    %>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="field">
        <%= f.label :nid, "Chứng minh nhân dân" %>
        <%= f.text_field :nid %>
      </div>
    </div>

    <div class="col-6">
      <div class="field">
        <%= f.label :pid, "Số hộ chiếu" %>
        <%= f.text_field :pid %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :phone_number, "Số điện thoại" %>
    <%= f.text_field :phone_number, required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Cập nhật", class: 'btn primary' %>
  </div>
<% end %>
