<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="section flex align-items--center justify-content--between">
        <div class="section-title">Hành khách</div>

        <a href="<%= new_manage_passenger_path %>" class="btn primary">
            <i class="fe fe-plus"></i>
            Thêm hành khách
          </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= form_tag(manage_passengers_path, method: :get, class: 'form') do %>
        <input type="text" placeholder="Tìm kiếm" name="q" class="input">
      <% end %>
    </div>

    <div class="col-12">
      <% if @results.present? %>
        <table class="c-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Họ Tên</th>
              <th>Ngày sinh</th>
              <th>CMND/hộ chiếu</th>
              <th>Số điện thoại</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @results.each do |passenger| %>
              <tr class="export-pass">
                <td data-label="ID"><%= passenger.id %></td>
                <td data-label="Họ Tên"><%= passenger.full_name %></td>
                <td data-label="Ngày sinh"><%= passenger.dob.present? ? passenger.dob.strftime("%d/%m/%Y") : '' %></td>
                <td data-label="CMND/hộ chiếu"><%= passenger.nid.present? ? passenger.nid : passenger.pid %></td>
                <td data-label="Số điện thoại"><%= passenger.phone_number %></td>
                <td>
                  <div class="btn-group">
                    <%= link_to 'Cập nhật', edit_manage_passenger_path(passenger), class: 'btn mini' %>
                    <%= link_to 'Xóa', manage_passenger_path(passenger), method: :delete, data: { confirm: 'Bạn có chắc muốn xóa hành khách này?' }, class: 'btn mini warning' %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= will_paginate @results %>
      <% elsif @passengers.present? %>
        <table class="c-table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Họ Tên</th>
              <th>Ngày sinh</th>
              <th>CMND/hộ chiếu</th>
              <th>Số điện thoại</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @passengers.each do |passenger| %>
              <tr class="export-pass">
                <td data-label="ID"><%= passenger.id %></td>
                <td data-label="Họ Tên"><%= passenger.full_name %></td>
                <td data-label="Ngày sinh"><%= passenger.dob.present? ? passenger.dob.strftime("%d/%m/%Y") : '' %></td>
                <td data-label="CMND/hộ chiếu"><%= passenger.nid.present? ? passenger.nid : passenger.pid %></td>
                <td data-label="Số điện thoại"><%= passenger.phone_number %></td>
                <td>
                  <div class="btn-group">
                    <%= link_to 'Cập nhật', edit_manage_passenger_path(passenger), class: 'btn mini' %>
                    <%= link_to 'Xóa', manage_passenger_path(passenger), method: :delete, data: { confirm: 'Bạn có chắc muốn xóa hành khách này?' }, class: 'btn mini warning' %>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= will_paginate @passengers %>
      <% else %>
        <div class="placeholder">
          <div class="placeholder-header">
            <i class="fe fe-search"></i>
            Chưa có <strong>khách hàng</strong> nào trên hệ thống.
          </div>

          <a href="<%= new_manage_passenger_path %>"class="btn primary">Tạo khách hàng</a>
        </div>
      <% end %>
    </div>
  </div>
</div>