<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="section flex align-items--center justify-content--between">
        <div class="section-title">Thêm hành khách</div>
        
        <a href="<%= manage_passengers_path %>" class="btn primary">
          <i class="fe fe-arrow-left btn-icon"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= render 'new-form', passenger: @passenger %>
    </div>
  </div>
</div>