<%= form_tag(search_manage_passengers_path, method: :get, class: 'form') do %>
  <input type="text" placeholder="Tìm kiếm" name="q" class="input">
<% end %>

<ul class="modal-passengers">
  <% if @results.present? %>
    <% @results.each do |passenger| %>
      <li>
        <div class="pass-info">
          <h5><%= passenger.full_name %></h5>
          <p><span>CMND/Hộ chiếu:</span> <%= passenger.nid.present? ? passenger.nid : passenger.pid %></p>
        </div>

        <div class="pass-action"
          data-controller="populate"
          data-populate-full_name="<%= passenger.full_name %>"
          data-populate-nid="<%= passenger.nid %>"
          data-populate-pid="<%= passenger.pid %>"
          data-populate-dob="<%= passenger.dob %>"
          data-populate-phone_number="<%= passenger.phone_number %>"
        >
          <button class="btn primary" data-action="click->populate#add">Thêm</button>
        </div>
      </li> 
    <% end %>
  <% else %>
    <% @pass_contact.each do |passenger| %>
      <li>
        <div class="pass-info">
          <h5><%= passenger.full_name %></h5>
          <p><span>CMND/Hộ chiếu:</span> <%= passenger.nid.present? ? passenger.nid : passenger.pid %></p>
        </div>

        <div class="pass-action"
          data-controller="populate"
          data-populate-full_name="<%= passenger.full_name %>"
          data-populate-nid="<%= passenger.nid %>"
          data-populate-pid="<%= passenger.pid %>"
          data-populate-dob="<%= passenger.dob %>"
          data-populate-phone_number="<%= passenger.phone_number %>"
        >
          <button class="btn primary" data-action="click->populate#add">Thêm</button>
        </div>
      </li> 
    <% end %>

    <%= will_paginate @pass_contact %>
  <% end %>
</ul>