<ul>
  <% if @names.present? %>
    <% @names.each do |passenger| %>
      <li data-controller="populate"
          data-populate-full_name="<%= passenger.full_name %>"
          data-populate-nid="<%= passenger.nid %>"
          data-populate-pid="<%= passenger.pid %>"
          data-populate-dob="<%= passenger.dob %>"
          data-populate-phone_number="<%= passenger.phone_number %>"
      >
        <div class="pass-info" data-action="click->populate#add">
          <h5><%= passenger.full_name %></h5>
          <p><span>CMND/Hộ chiếu:</span> <%= passenger.nid.present? ? passenger.nid : passenger.pid %></p>
        </div>
      </li> 
    <% end %>
  <% else %>
    <p class="search-null">Không có khách hàng liên quan</p>
  <% end %>
</ul>
