<%= form_for [@ticket, @passenger], html: { class: 'form-box form-box--c' } do |f| %>
  <div class="field">
    <%= f.label :full_name, "Họ tên" %>
    <%= f.text_field :full_name, required: true %>
  </div>

  <div class="field">
    <%= f.label :dob, "Ngày sinh" %>
    <%= f.text_field :dob,
      data: {
        controller: "date",
        date_alt_format: "l, j M Y",
        date_alt_input: true
      }
    %>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="field">
        <%= f.label :nid, "Chứng minh nhân dân" %>
        <%= f.text_field :nid %>
      </div>
    </div>

    <div class="col-6">
      <div class="field">
        <%= f.label :pid, "Số hộ chiếu" %>
        <%= f.text_field :pid %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :phone_number, "Số điện thoại" %>
    <%= f.text_field :phone_number, required: true %>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="field">
        <%= f.label :seat_type, "Loại ghế" %>
        <%= f.select :seat_type, options_for_select(Passenger.seat_types.keys.map { |w| [w.upcase, w] }), {}, {} %>
      </div>
    </div>

    <div class="col-4">
      <div class="field">
        <%= f.label :ticket_class, "Hạng vé" %>
        <%= f.select :ticket_class, options_for_select(Passenger.ticket_classes.keys.map { |w| [w.upcase, w] }), {}, {} %>
      </div>
    </div>

    <div class="col-4">
      <div class="field">
        <%= f.label :extra, "Hành lý mang thêm" %>
        <%= f.text_field :extra %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :more_extra, "Dịch vụ kèm theo" %>
    <%= f.text_field :more_extra %>
  </div>

  <div class="actions">
    <%= f.submit "Cập nhật", class: 'btn primary' %>
  </div>
<% end %>
