<div class="export card">
  <div class="export-logo">
    <%= image_tag 'aatrip-logo' %>
  </div>

  <div class="export-header">
    <div class="export-info">
      <h3><span>E-ticket /</span> Vé điện tử</h3>
    </div>

    <div class="export-meta">
      <div class="export-meta__block">
        Mã xác nhận / Booking code
        <span><%= preview.tid.present? ? preview.tid : 'Chưa có dữ liệu' %></span>
      </div>
    </div>
  </div>

  <div class="export-content">
    <div class="export-row">
      <div class="export-airline">
        <% preview.airlines.order(id: :asc).each_with_index do |airline, i| %>
          <div class="export-air">
            <%= image_tag airline.logo.attached? ? airline.logo : '' %>

            <div class="export-airline__info">
              <h5><%= airline.name %></h5>
              <p><%= airline.aid %></p>
            </div>
          </div>

          <% if i == 0 %>
            <% preview.routes.order(id: :asc).each do |route| %>
              <% if route.transit.present? %>
                <div class="export-air">
                  <%= image_tag route.transit_airline_logo.attached? ? route.transit_airline_logo : '' %>

                  <div class="export-airline__info">
                    <h5><%= route.transit["transit_airline_name"] %></h5>
                    <p><%= route.transit["transit_airline_id"] %></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="export-routes">
        <% preview.routes.order(id: :asc).each do |route| %>
          <div class="export-item">
            <div class="export-route__duration">
              <% if route.duration.present? %>
                About <%= route.duration %>
              <% end %>
            </div>

            <% if route.transit.present? %>
              <div class="export-route export-transit">
                <div class="export-route__time">
                  <div class="export-route__transit">
                    <%= Time.parse(route.depart_time).strftime("%a, %d/%m/%Y") %>
                    <br>
                    <span><%= route.depart_time.to_time.to_s(:time) if route.depart_time.present? %></span>
                  </div>

                  <div class="export-route__transit">
                    <%= Time.parse(route.transit["transit_timedepart"]).strftime("%a, %d/%m/%Y") %>
                    <br>
                    <span><%= route.transit["transit_timedepart"].to_time.to_s(:time) if route.transit["transit_timedepart"].present? %></span>
                  </div>
                </div>
                
                <div class="export-divider export-divider__transit"></div>

                <div class="export-route__place">
                  <div class="export-route__transit">
                    <span><%= route.depart_place %></span>
                  </div>

                  <div class="export-route__transit">
                    <span><%= route.transit["transit_place"] %></span>
                  </div>
                </div>

                <div class="export-transit__ab"><%= route.transit["transit_time_ab"] %></div>
              </div>

              <div class="export-transit__duration">
                <%= route.transit["transit_duration"] %>
              </div>

              <div class="export-route export-transit">
                <div class="export-route__time">
                  <div class="export-route__transit">
                    <%= Time.parse(route.transit["transit_timearrival"]).strftime("%a, %d/%m/%Y") %>
                    <br>
                    <span><%= route.transit["transit_timearrival"].to_time.to_s(:time) if route.transit["transit_timearrival"].present? %></span>
                  </div>

                  <div class="export-route__transit">
                    <%= Time.parse(route.arrival_time).strftime("%a, %d/%m/%Y") %>
                    <br>
                    <span><%= route.arrival_time.to_time.to_s(:time) if route.arrival_time.present? %></span>
                  </div>
                </div>

                <div class="export-divider export-divider__transit"></div>

                <div class="export-route__place">
                  <div class="export-route__transit">
                    <span><%= route.transit["transit_place"] %></span>
                  </div>

                  <div class="export-route__transit">
                    <span><%= route.arrival_place %></span>
                  </div>
                </div>

                <div class="export-transit__ab"><%= route.transit["transit_time_bc"] %></div>
              </div>
            <% else %>
              <div class="export-route">
                <div class="export-route__time">
                  <%= Time.parse(route.depart_time).strftime("%a, %d/%m/%Y") if route.depart_time.present? %>
                  <br>
                  <span><%= route.depart_time.to_time.to_s(:time) if route.depart_time.present? %></span>
                </div>
                <div class="export-divider"></div>
                <div class="export-route__place">
                  <span><%= route.depart_place %></span>
                </div>
              </div>

              <div class="export-route">
                <div class="export-route__time">
                  <%= Time.parse(route.arrival_time).strftime("%a, %d/%m/%Y") if route.arrival_time.present? %>
                  <br>
                  <span><%= route.arrival_time.to_time.to_s(:time) if route.arrival_time.present? %></span>
                </div>
                <div class="export-divider not-transit__end"></div>
                <div class="export-route__place">
                  <span><%= route.arrival_place %></span>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="export-notes">
    <div class="row">
      <div class="col-4">
        <div class="note-item">
          <i class="fe fe-credit-card"></i>
          <p>Trình CMND/Hộ chiếu và vé khi làm thủ tục bay</p>
        </div>
      </div>

      <div class="col-4">
        <div class="note-item">
          <i class="fe fe-clock"></i>
          <p>Làm thủ tục ít nhất 120 - 160 phút trước giờ khởi hành</p>
        </div>
      </div>

      <div class="col-4">
        <div class="note-item">
          <i class="fe fe-info"></i>
          <p>Giờ hiển thị trên vé là giờ sân bay địa phương</p>
        </div>
      </div>
    </div>
  </div>

  <div class="export-passengers">
    <table class="table">
      <thead>
        <tr>
          <th><span>No.</span>Số</th>
          <th><span>Passenger(s)</span>Tên hành khách</th>
          <th><span>Ticket Type</span>Loại vé</th>
          <th><span>Baggage</span>Hành lý</th>
          <th><span>Extra</span>Dịch vụ kèm theo</th>
        </tr>
      </thead>

      <tbody>
        <% if preview.passengers.any? %>
          <% preview.passengers.order(created_at: :asc).each_with_index do |passenger, i| %>
            <tr class="export-pass">
              <td>0<%= i + 1 %></td>
              <td><%= passenger.full_name %></td>
              <td><%= passenger.seat_type.upcase %></td>
              <td><%= passenger.extra %></td>
              <td><%= passenger.more_extra.present? ? passenger.more_extra : 'None' %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td>Chưa có dữ liệu</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="export-extra">
    <div class="extra-info">
      <h5>Lưu ý</h5>
      <ul>
        <li>Vé đã bao gồm 7kg hành lý xách tay mỗi hành khách theo quy định của hãng hàng không</li>
        <li>Điều kiện hoàn hủy và phí hoàn hủy sẽ được tính theo quy định của hãng hàng không</li>
      </ul>
    </div>

    <% if preview.note.present? %>
      <div class="extra-note">
        <h5>Ghi chú</h5>
        <%= preview.note %>
      </div>
    <% end %>
  </div>
</div>
