<div class="devise-form flex align-items--center justify-content--center">
  <div class="block">
    <div class="logo">
      <!-- TODO -->
    </div>

    <div class="content">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-box'}) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        
        <div class="field">
          <%= f.label :email, "Địa chỉ Email" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Ex: admin@localhost' %>
        </div>

        <div class="field">
          <%= f.label :password, "Mật khẩu" %>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Ex: *******' %>
        </div>

        <div class="actions">
          <%= f.submit "Đăng nhập", class: 'btn primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
