<div class="airline-form block">
  <h4>
    Hãng bay
    <% if @ticket.ticket_type == "roundtrip" %>
      <%= airlines.count + 1 %>
    <% end %>
  </h4>

  <%= form_for [@ticket, airlines.new], html: { class: 'form-box' } do |f| %>      
    <div class="row">
      <div class="col-6">
        <div class="field">
          <%= f.label :name, "Tên hãng bay" %>
          <%= f.text_field :name, placeholder: 'Ví dụ: Vietnam Airlines, Vietjet,...', required: true %>
        </div>
      </div>

      <div class="col-6">
        <div class="field">
          <%= f.label :aid, "Số hiệu chuyến bay" %>
          <%= f.text_field :aid, placeholder: 'Ví dụ: VJ12345,...', required: true %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= f.label :logo, "Logo hãng bay" %>
      <%= f.file_field :logo, required: true %>
    </div>

    <div class="actions">
      <%= f.submit "Thêm", class: 'btn primary' %>
    </div>
  <% end %>
</div>