<div id="modal" class="modal" data-controller="modal">
  <div class="modal-wrapper">
    <div class="modal-header">
      <h4>Danh bạ hành khách</h4>
      <a nohref class="close" data-action="modal#hide"></a>
    </div>
    
    <div class="modal-content">
      <iframe src="<%= search_manage_passengers_url %>" width="100%" height="490px" frameborder="0"></iframe>
    </div>
  </div>
</div>