<div class="passenger-form block">
  <div class="block-flex" data-controller="modal">
    <h4>Hành khách</h4>
    <a nohref class="btn" data-action="modal#open">Thêm từ danh bạ</a>
  </div>

  <%= form_for [@ticket, passengers.new], html: { class: 'form-box' } do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>

    <div class="field" data-controller="suggestions">
      <%= f.label :full_name, "Họ tên" %>
      <%= f.text_field :full_name, autofocus: true, placeholder: 'Nguyễn Văn A, Trần Văn C,...', required: true, data: { target: 'suggestions.searchItem', action:  'input->suggestions#requestSearch' } %>
    
      <div class="search-results" data-target="suggestions.searchResults">
        <ul>
          <li class="searching-interim">
            <span class="result-secondary">Searching....</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="field">
      <%= f.label :dob, "Ngày sinh" %>
      <%= f.text_field :dob,
        data: {
          controller: "date",
          date_alt_format: "l, j M Y",
          date_alt_input: true
        }
      %>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="field">
          <%= f.label :nid, "Chứng minh nhân dân" %>
          <%= f.text_field :nid %>
        </div>
      </div>

      <div class="col-6">
        <div class="field">
          <%= f.label :pid, "Số hộ chiếu" %>
          <%= f.text_field :pid %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= f.label :phone_number, "Số điện thoại" %>
      <%= f.text_field :phone_number, required: true %>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="field">
          <%= f.label :seat_type, "Loại ghế" %>
          <%= f.select :seat_type, options_for_select(Passenger.seat_types.keys.map { |w| [w.upcase, w] }), {}, {} %>
        </div>
      </div>

      <div class="col-4">
        <div class="field">
          <%= f.label :ticket_class, "Hạng vé" %>
          <%= f.select :ticket_class, options_for_select(Passenger.ticket_classes.keys.map { |w| [w.upcase, w] }), {}, {} %>
        </div>
      </div>

      <div class="col-4">
        <div class="field">
          <%= f.label :extra, "Hành lý mang thêm" %>
          <%= f.text_field :extra %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= f.label :more_extra, "Dịch vụ kèm theo" %>
      <%= f.text_field :more_extra %>
    </div>

    <div class="actions">
      <%= f.submit "Thêm", class: 'btn primary' %>
    </div>
  <% end %>
</div>

<%= render 'tickets/components/contact', pass_contact: @pass_contact %>
