.btn {
  padding: 0 1.5rem;
  border-radius: 4px;
  background: #fff;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  color: $body-color;
  text-transform: uppercase;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  &.mini {
    padding: .45rem 1rem;
    text-transform: initial;
    font-size: 1.3rem;
    height: initial;
    line-height: initial;
  }

  &.link {
    border: none;
    box-shadow: none;
    color: $primary;
  }

  &.btn-export {
    background-color: #D31F3C;
    color: #FFF;
  }

  &.primary {
    background-color: $primary;
    color: #FFF;
  }

  &.warning {
    background: #e83c19;
    border-color: #e83c19;
    color: #FFF;
  }

  &.secondary {
    background: #1a1a1a;
    color: #FFF;
  }

  &.no-select {
    user-select: none;
  }

  .fe {
    margin-right: .5rem;
    font-size: 1.6rem;
  
    &.btn-icon {
      margin-right: 0;
    }
  }
}
