.card {
  background-color: #FFF;
  padding: 1.75rem;
  position: relative;

  &.preview {
    border-radius: 0 0 4px 4px;
  }

  &.direct {
    display: block;
    text-transform: uppercase;
    margin-bottom: 1.75rem;
    color: $body-color;
    transition: all 200ms ease-in-out;
    
    &:hover {
      border: 1px solid $primary;
      text-decoration: none;
    }

    i {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      color: $primary;
      font-size: 2.5rem;
    }
  }
}

.search-results {
  position: absolute;
  width: 400px;
  height: 300px;
  background: #FFF;
  z-index: 22;
  border-radius: 12px;
  margin-top: 5px;
  box-shadow: 0 25px 50px -12px rgba(0,0,0,.25);
  overflow: auto;
  display: none;

  &.showing {
    display: block;
  }

  ul {
    padding: 0;
    list-style: none;

    li {
      cursor: pointer;
      padding: 1rem 2rem;

      &:hover {
        background-color: #f2f2f2;
      }

      h5 {
        margin: .75rem 0;
      }
      
      p {
        margin-bottom: 0px;
      }
    }

    .search-null {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 80%;
      text-align: center;
    }
  }
}
