.form-box {
  border-radius: 0px 0px 4px 4px;
  padding: 2rem;

  &.form-box--c {
    background-color: #FFF;
    box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
    border-radius: 4px;
  }

  .field {
    margin-bottom: 1.5rem;

    &.hide {
      display: none;
    }

    label {
      display: block;
      color: #212B35;
      font-weight: 600;
      margin-bottom: .35rem;
    }

    input[type=text],
    input[type=number],
    input[type=email],
    input[type=password],
    select,
    textarea {
      max-width: 100%;
      width: 100%;
      height: 36px;
      border-radius: 4px;
      background-color: #fff;
      border: 1px solid #c4cdd5;
      box-shadow: 0 0 0 1px transparent, 0 1px 0 0 rgba(22, 29, 37, 0.05);
      padding: 0 1rem;

      &:focus {
        border-color: #5c6ac4;
        box-shadow: inset 0 0 0 0 transparent, 0 0 0 0.1rem $primary;
        outline: none;
      }
    }

    textarea {
      min-height: 60px;
      padding-top: 1rem;
    }

    .nested {
      .nested-item:not(:last-child) {
        margin-right: 1.5rem;
      }

      .nested-item:last-child {
        width: 100%;

        input:not(:last-child) {
          margin-bottom: 1.5rem;
        }
      }

      .select-multi {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        input {
          flex: 0 49%;
        }
      }
    }
  }

  .actions {
    margin-top: 5rem;
    padding-top: 2rem;
    border-top: 1px solid #c4cdd5;
    text-align: right;
  }
}

.form-edit {
  .form-edit__item {
    background: rgba(76, 87, 102, 0.1);
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-weight: 600;
    }

    p {
      margin: 0;
    }
  }
}

.flatpickr-time {
  height: 40px !important;
}
