.label-list {
  .label {
    background-color: #dfe3e8;
    border-radius: 4px;
    color: #212b36;
    padding: .2rem .4rem;
    font-size: 1.2rem;

    &:not(:last-child) {
      margin-right: .5rem;
    }
  }
}