.message {
  border-radius: 0 0 3px 3px;
  background-color: #f4f6f8;
  box-shadow: inset 0 3px 0 0 #637381, inset 0 0 0 0 transparent, 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 500px;
  padding: 1.6rem 2rem;
  z-index: 9999;

  &.notice {
    background-color: #e0f5f5;
    box-shadow: inset 0 3px 0 0 #47c1bf, inset 0 0 0 0 transparent, 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
  }

  &.success {
    background-color: #e3f1df;
    box-shadow: inset 0 3px 0 0 #50b83c, inset 0 0 0 0 transparent, 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
  }

  &.error {
    background-color: #fcf1cd;
    box-shadow: inset 0 3px 0 0 #eec200, inset 0 0 0 0 transparent, 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
  }

  &.alert {
    background-color: #fbeae5;
    box-shadow: inset 0 3px 0 0 #ed6347, inset 0 0 0 0 transparent, 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
  }

  h5 {
    font-size: 1.6rem;
    text-transform: capitalize;
    margin: 0 0 .75rem;
  }

  ul {
    margin-bottom: 0;
  }
}

.close {
  position: absolute;
  top: 1.3rem;
  right: 1.0rem;
  opacity: .75;
  width: 2.0rem;
  height: 2.0rem;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23637381' d='M11.414 10l4.293-4.293a.999.999 0 1 0-1.414-1.414L10 8.586 5.707 4.293a.999.999 0 1 0-1.414 1.414L8.586 10l-4.293 4.293a.999.999 0 1 0 1.414 1.414L10 11.414l4.293 4.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z' fill-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .message {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
  }
}
