.modal {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.125);
  visibility: hidden;
  opacity: 0;
  transition: all 200ms ease-in-out;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  .modal-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 500px;
    height: 580px;
    overflow-y: auto;
    background: #FFF;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  }
}

.modal-passengers {
  list-style: none;
  padding: 0;
  margin-top: 4rem;

  li {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
  }
}

@media only screen and (max-width: 600px) {
  .modal .modal-wrapper {
    width: 90% !important;
  }
}
