.table-header {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;

  .table-subheader {
    font-size: 1.4rem;
    font-weight: normal;
    color: #637381;
  }
}

.table {
  border-spacing: 0px 15px;
  border-collapse: separate;
  width: 100%;
  max-width: 100%;
  margin-bottom: 15px;
  background-color: transparent;
  text-align: left;

  thead {
    background: #f2f2f2;
  }

  th {
    font-weight: 400;
    padding: 1rem;

    span {
      display: block;
      font-weight: bold;
    }
  }
  
  td {
    padding: 0 1rem 1rem 1rem;
  }
}

.c-table {
  border-spacing: 0px 15px;
  border-collapse: separate;
  width: 100%;
  max-width: 100%;
  margin-bottom: 15px;
  background-color: transparent;
  text-align: left;

  th {
    font-weight: bold;
    padding: 0 15px 0;
  }
  
  td {
    padding: 15px;
  }

  tbody {
    tr {
      background-color: #FFF;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .07);

      td:first-child {
        border-top-left-radius: 4px; 
        border-bottom-left-radius: 4px;
      }
      
      td:last-child {
        border-bottom-right-radius: 4px; 
        border-top-right-radius: 4px;
        text-align: right;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .c-table {
    border: 0;

    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: .625em;
    }

    td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: .8em;
      text-align: right;
    }

    td::before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    td:last-child {
      border-bottom: 0;
    }
  }
}

.input {
  width: 100%;
  height: 45px;
  padding: 0 10px;
  border-radius: 4px;
  border: none;
  background: #ddd;
  color: #333;
  margin-bottom: 2rem;
}

.pagination {
  text-align: center;
}
