<%= form_for [@ticket, @airline], html: { class: 'form-box form-box--c' } do |f| %>
  <div class="row">
    <div class="col-6">
      <div class="field">
        <%= f.label :name, "Tên hãng bay" %>
        <%= f.text_field :name, placeholder: 'Ví dụ: Vietnam Airlines, Vietjet,...', required: true %>
      </div>
    </div>

    <div class="col-6">
      <div class="field">
        <%= f.label :aid, "Số hiệu chuyến bay" %>
        <%= f.text_field :aid, placeholder: 'Ví dụ: VJ12345,...', required: true %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :logo, "Logo hãng bay" %>
    <%= f.file_field :logo %>
  </div>

  <div class="actions">
    <%= f.submit "Cập nhật", class: 'btn primary' %>
  </div>
<% end %>
