<%= form_for [@ticket, @route], html: { class: 'form-box form-box--c' } do |f| %>
  <div class="row">
    <div class="col-6">
      <div class="field">
        <%= f.label :depart_time, "Thời điểm khởi hành" %>
        <%= f.text_field :depart_time,
          data: {
            controller: "date"
          }
        %>
      </div>
    </div>

    <div class="col-6">
      <div class="field">
        <%= f.label :depart_place, "Nơi khởi hành" %>
        <%= f.text_field :depart_place, id: "depart_place", required: true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="field">
        <%= f.label :arrival_time, "Thời điểm đến" %>
        <%= f.text_field :arrival_time,
          data: {
            controller: "date"
          }
        %>
      </div>
    </div>

    <div class="col-6">
      <div class="field">
        <%= f.label :arrival_place, "Nơi đến" %>
        <%= f.text_field :arrival_place, id: "arrival_place", required: true %>
      </div>
    </div>
  </div>

  <div id="transit" class="field" data-controller="addition">
    <%= f.label :transit, "Quá cảnh" %>
    <a nohref id="transit-btn" class="btn mini secondary no-select" data-action="click->addition#add_transit">Bật quá cảnh</a>
  </div>

  <div id="transit-logo" class="field hide">
    <%= f.label :transit_airline_logo, "Logo hãng bay" %>
    <%= f.file_field :transit_airline_logo %>
  </div>

  <div class="field">
    <%= f.label :duration, "Tổng thời gian hành trình" %>
    <%= f.text_field :duration %>
  </div>

  <div class="actions">
    <%= f.submit "Cập nhật", class: 'btn primary' %>
  </div>
<% end %>
