<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="section flex align-items--center justify-content--between">
        <div class="section-title">Cập nhật hành trình</div>
        
        <a href="javascript:history.back()" class="btn primary">
          <i class="fe fe-arrow-left btn-icon"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <%= render 'form' %>
    </div>
  </div>
</div>