<% flash.each do |key, value| %>
  <div class="<%= key %> message" data-controller="alert">
    <div class="message-content">
      <h5><%= key %></h5>
      <%= value %>
    </div>
    
    <a class="close" nohref data-action="click->alert#alert_close"></a>
  </div>
<% end %>
