<div class="site-header flex align-items--center" data-controller="canvas">
  <div class="site-header__logo flex align-items--center justify-content--center">
    <div class="site-menu" data-action="click->canvas#open">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <a href="<%= root_path %>" class="site-header__title">
      <%= image_tag 'aatrip-logo' %>
    </a>
  </div>

  <div id="canvas" class="site-header__canvas">
    <nav class="site-header__nav">
      <a href="<%= root_path %>">Hóa đơn</a>
      <a href="<%= manage_passengers_path %>" class="<%= is_active?(manage_passengers_path) %>">Hành khách</a>

      <% if current_user.user_role == "administrator" %>
        <a href="<%= users_path %>" class="<%= is_active?(users_path) %>">Thành viên</a>
      <% end %>
    </nav>

    <div class="site-header__user flex align-items--center">
      <img src="https://ui-avatars.com/api/?name=<%= current_user.email %>" alt="Profile">
      
      <div class="user">
        <div class="user-email"><%= current_user.email %></div>
        <%= link_to 'Đăng xuất', destroy_user_session_path, method: :delete %>
      </div>
    </div>
  </div>

  <div class="site-header__right flex align-items--center">
    <nav class="site-header__nav">
      <a href="<%= root_path %>">Hóa đơn</a>
      <a href="<%= manage_passengers_path %>" class="<%= is_active?(manage_passengers_path) %>">Hành khách</a>

      <% if current_user.user_role == "administrator" %>
        <a href="<%= users_path %>" class="<%= is_active?(users_path) %>">Thành viên</a>
      <% end %>
    </nav>

    <div class="site-header__user flex align-items--center">
      <img src="https://ui-avatars.com/api/?name=<%= current_user.email %>" alt="Profile">
      
      <div class="user">
        <div class="user-email"><%= current_user.email %></div>
        <%= link_to 'Đăng xuất', destroy_user_session_path, method: :delete %>
      </div>
    </div>
  </div>
</div>
